.bigbox1{
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0 auto;}
@media (max-width:380px){
  .bigbox1{
    width: fit-content;
  }
}
.num_class {
  background: #ffffff;
  border: 1px solid #e0e0e0;
}
.disable_class {
  background: #9b9a9a;
  border: 1px solid #e0e0e0;
}
.input_num_text{
  justify-content: center;
}
.finish_btn{
  padding: 8px;
}
.Text1{
  position: relative;
  top:20px;
  margin-top: 10px;
  font-size: 14px;
  opacity: 60%;
  width: 90%;
  text-align: center;
  margin: 0 auto;
}
.buttongroup{
  position: relative;
  display: flexbox;
  width: 85%;
  height: 368px;
  top: 50px;
  margin-top: 20px;
  margin: 0 auto;
}
.choose{
  position: relative;
  width: 320px;
  height: 48px;
  margin: 0 auto;
  margin-top: 45px;
}
.Textchoose{
  position: relative;
  width: fit-content;
  padding-top: 2px;
}
.phonenumber{
  position: relative;
  width: 80%;
  top: 15px;
  margin: 0 auto;
}
.rules{
  position: relative;
  width: 80%;
  margin: 0 auto;
  top :20px;
}
.buttonsend{
  position: relative;
  width: 80%;
  top: 30px;
  margin: 0 auto;
}
.group{
  position: relative;
  margin-top: 10px;
}
.dialog{
  text-align: center;
}
.divider{
  position: relative;
  width: 90%;
  margin: 0 auto;
}
.divider2{
  position: relative;
  width: 90%;
  top: 30px;
  margin: 0 auto;
}